.Characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Characters_cards {
  background-color: grey;
  display: inline-block;
  position: relative;
  width: 300px;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
  margin: 40px;
  transition: 0.5s;
  color: white;
  border-radius: 5px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.Characters_id {
  text-align: left;
  padding-left: 20px;
}

.Characters_img {
  width: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 3px solid lightcoral;
}

.Character_loading {
  justify-content: center;
  font-size: 50px;
  color: white;
  padding-top: 200px;
}

.Character_order {
  padding: 0px;
  padding-left: 18px;
}
